<form [formGroup]="form">
  <mat-toolbar-row class="header" fxLayout="column">
    <h1>Writer's Content</h1>
  </mat-toolbar-row>
  <div mat-dialog-content>
    <div class="py-16" fxLayout="row">
      <mat-form-field class="w-100-p" matTooltip= {{toolTips.sample}} matTooltipShowDelay= {{toolTips.delay}}>
        <input matInput tabindex="1" formControlName="writer" placeholder="Writer" required>
        <mat-error *ngIf="form.controls.writer.hasError('required')">
          <strong>Writer is required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="py-16" fxLayout="row">
      <mat-form-field class="w-100-p" matTooltip= {{toolTips.sample}} matTooltipShowDelay= {{toolTips.delay}}>
        <input matInput tabindex="1" formControlName="IPI_CAE" placeholder="Writer IPI or CAE">
      </mat-form-field>

      <mat-form-field class="w-100-p" matTooltip= {{toolTips.sample}} matTooltipShowDelay= {{toolTips.delay}}>
        <input matInput type="number" min= 0 tabindex="1" formControlName="ISNI" placeholder="ISNI">
      </mat-form-field>
    </div>

    <div class="py-16" fxLayout="row">
      <mat-form-field class="w-100-p" matTooltip= {{toolTips.sample}} matTooltipShowDelay= {{toolTips.delay}}>
        <input matInput tabindex="1" formControlName="publisher" placeholder="Writer's Publisher" required>
        <mat-error *ngIf="form.controls.publisher.hasError('required')">
          <strong>Publisher is required</strong>
        </mat-error>
      </mat-form-field>
      
      <form [formGroup]="form">
        <mat-form-field class="w-100-p">
          <mat-select placeholder="Writer's Role" formControlName="role" name="role" matTooltip= {{toolTips.sample}} matTooltipShowDelay= {{toolTips.delay}} required>
            <mat-option *ngFor="let r of roles"  [value]="r.value">
              {{ r.view }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.publisher.hasError('required')">
            <strong>Role is required</strong>
          </mat-error>
      </mat-form-field>
    </form>

    </div>
  </div>

  <mat-dialog-actions align="end">
    <button *ngIf="data.btnStart" class="mat-raised-button mat-primary" (click)="btnClick(data.btnStart)">{{data.btnStart}}</button>
    <button *ngIf="data.btnEnd" [disabled]="!form.valid" class="mat-raised-button mat-primary" (click)="btnClick(data.btnEnd)">{{data.btnEnd}}</button>
  </mat-dialog-actions>
</form>