<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <div>{{data.title}}</div>
  <div>
    <code>{{data.button}}</code>
  </div>
</div>

<mat-dialog-content>
  <p>{{data.message}}</p>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button *ngIf="data.btnStart"class="mat-raised-button mat-primary" (click)="btnClick(data.btnStart)">{{data.btnStart}}</button>
  <button *ngIf="data.btnEnd" class="mat-raised-button mat-primary"  (click)="btnClick(data.btnEnd)">{{data.btnEnd}}</button>
</mat-dialog-actions>