<div id="post" class="page-layout carded fullwidth">
  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-deep-purple-bg"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header white-fg p-24" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Post Content</h2>
      <button mat-raised-button
      class="save-content-button mat-white-bg mt-16 mt-sm-0" (click)="firecontent()">
      <span>SAVE</span>
    </button>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT CARD -->
  <div class="content-card mat-white-bg">
    <!-- CONTENT -->
    <div class="content">
      <form name="postForm" [formGroup]="postForm" class="post w-100-p" fxLayout="column" fxFlex>
        <mat-tab-group>
          <mat-tab label="Master Side">
            <div class="tab-content p-24" fxLayout="column">
              <h1>Album Info Section:</h1>
              <div class="py-16" fxLayout="row">
                <mat-form-field class="w-100-p">
                  <input
                  matInput
                  name="Album URL"
                  formControlName="ipfsUrl"
                  placeholder="Album URL">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <input
                  matInput
                  name="Album Title"
                  formControlName="albumTitle"
                  placeholder="Album Title">
                </mat-form-field>
              </div>
              <mat-form-field class="w-100-p">
                <input
                matInput
                name="Album Artist"
                formControlName="albumArtist"
                placeholder="Album Artist">
              </mat-form-field>
              <button mat-raised-button
              class="save-content-button mat-white-bg mt-16 mt-sm-0">
              <span>More Artists</span>
            </button>
            <mat-form-field class="w-100-p">
              <input
              matInput
              name="Album Genre"
              formControlName="albumGenre"
              placeholder="Album Genre">
            </mat-form-field>
            <button mat-raised-button
            class="save-content-button mat-white-bg mt-16 mt-sm-0">
            <span>More Genres</span>
          </button>
          <mat-form-field class="w-100-p">
            <input
            matInput
            name="Country of Origin"
            formControlName="countryOrigin"
            placeholder="Country of Origin">
          </mat-form-field>
          <div fxLayout="row" fxLayout.xs="column" fxFlex="1 0 auto" fxLayoutAlign="space-between center">
            <mat-checkbox matInput formControlName="explicit">
              Content is explicit?
            </mat-checkbox>
          </div>
          <mat-form-field class="w-100-p">
            <input
            matInput
            name="Album P line"
            formControlName="albumPline"
            placeholder="Album P line">
          </mat-form-field>
          <mat-form-field class="w-100-p">
            <input
            matInput
            name="Album C line"
            formControlName="albumCline"
            placeholder="Album C line">
          </mat-form-field>
          <mat-form-field class="w-100-p">
            <input
            matInput
            name="UPC or EAN"
            formControlName="upcEan"
            placeholder="UPC or EAN">
          </mat-form-field>
          <mat-form-field class="w-100-p">
            <input
            matInput
            name="Release Date"
            formControlName="releaseDate"
            placeholder="Release Date">
          </mat-form-field>
          <mat-form-field class="w-100-p">
            <input
            matInput
            name="Release Year"
            formControlName="releaseYear"
            placeholder="Release Year">
          </mat-form-field>
          <mat-form-field class="w-100-p">
            <input
            matInput
            name="Sales Start Date"
            formControlName="salesStartDate"
            placeholder="Sales Start Date">
          </mat-form-field>
          <mat-form-field class="w-100-p">
            <input
            matInput
            name="Master Label Name"
            formControlName="masterLabelName"
            placeholder="Master Label Name">
          </mat-form-field>
          <mat-form-field class="w-100-p">
            <input
            matInput
            name="Display Label Name (aka imprint label name)"
            formControlName="displayLabelName"
            placeholder="Display Label Name (aka imprint label name)">
          </mat-form-field>
          <button mat-raised-button
          class="save-content-button mat-white-bg mt-16 mt-sm-0">
          <span>More Display Labels</span>
        </button>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Metadata Language (Album)"
          formControlName="tempValue"
          placeholder="Metadata Language (Album)">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Album Remixer"
          formControlName="tempValue"
          placeholder="Album Remixer">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Featured Artist (album level)"
          formControlName="tempValue"
          placeholder="Featured Artist (album level)">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Label Catalog #"
          formControlName="tempValue"
          placeholder="Label Catalog #">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Album Description"
          formControlName="tempValue"
          placeholder="Album Description">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Release Territory"
          formControlName="tempValue"
          placeholder="Release Territory">
        </mat-form-field>
        <h1>Track Info Section:</h1>
        <div fxLayout="row" fxLayout.xs="column" fxFlex="1 0 auto" fxLayoutAlign="space-between center">
          <mat-checkbox matInput formControlName="partofAlbum">
            Content is part of an album?
          </mat-checkbox>
        </div>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Track Title"
          formControlName="trackTitle"
          placeholder="Track Title">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="ISRC code"
          formControlName="isrc"
          placeholder="ISRC code">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Track Artist"
          formControlName="trackArtist"
          placeholder="Track Artist">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Track Artist aliases / different spelling"
          formControlName="trackArtistAlias"
          placeholder="Track Artist aliases / different spelling">
        </mat-form-field>

        <mat-form-field class="w-100-p">
          <input
          matInput
          name="ISNI code (artist)"
          formControlName="tempValue"
          placeholder="ISNI code (artist)">
        </mat-form-field>
        <button mat-raised-button
        class="save-content-button mat-white-bg mt-16 mt-sm-0">
        <span>More Track Artists</span>
      </button>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Featured Artist"
        formControlName="tempValue"
        placeholder="Featured Artist">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="ISNI code (for the featured artist)"
        formControlName="tempValue"
        placeholder="ISNI code (for the featured artist)">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Track Producer"
        formControlName="tempValue"
        placeholder="Track Producer">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Track Genre 1"
        formControlName="tempValue"
        placeholder="Track Genre 1">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Track Genre 2"
        formControlName="tempValue"
        placeholder="Track Genre 2">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Track P line"
        formControlName="tempValue"
        placeholder="Track P line">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Track #"
        formControlName="tempValue"
        placeholder="Track #">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Track Volume #"
        formControlName="tempValue"
        placeholder="Track Volume #">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Copyright # (master recording)"
        formControlName="tempValue"
        placeholder="Copyright # (master recording)">
      </mat-form-field>
      <div fxLayout="row" fxLayout.xs="column" fxFlex="1 0 auto" fxLayoutAlign="space-between center">
        <mat-checkbox matInput formControlName="samples">
          Content has a sample track?
        </mat-checkbox>
      </div>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Track Artist"
        formControlName="trackArtist"
        placeholder="Track Remixer">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Metadata Language (Track)"
        formControlName="tempValue"
        placeholder="Metadata Language (Track)">
      </mat-form-field>
    </div>
  </mat-tab>
  <mat-tab label="Composition Side">
    <div class="tab-content p-24" fxLayout="column">
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Composition Title"
        formControlName="tempValue"
        placeholder="Composition Title">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Alternate composition title"
        formControlName="tempValue"
        placeholder="Alternate composition title">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="ISWC Code"
        formControlName="tempValue"
        placeholder="ISWC Code">
      </mat-form-field>
      <div fxLayout="row" fxLayout.xs="column" fxFlex="1 0 auto" fxLayoutAlign="space-between center">
        <mat-checkbox matInput formControlName="thirdParty">
          Content is third party managed?
        </mat-checkbox>
      </div>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Publishers"
        formControlName="compositionPublishers"
        placeholder="Publishers">
      </mat-form-field>
      <button mat-raised-button
      class="save-content-button mat-white-bg mt-16 mt-sm-0">
      <span>More Publishers</span>
    </button>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="IPI/CAE Number (publisher)"
        formControlName="tempValue"
        placeholder="IPI/CAE Number (publisher)">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="ISNI (publisher)"
        formControlName="tempValue"
        placeholder="ISNI (publisher)">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Writer"
        formControlName="compositionWriters"
        placeholder="Writer">
      </mat-form-field>
      <button mat-raised-button
      class="save-content-button mat-white-bg mt-16 mt-sm-0">
      <span>More Writers</span>
    </button>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="IPI/CAE Number (writer)"
        formControlName="tempValue"
        placeholder="IPI/CAE Number (writer)">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="ISNI code (composer, lyricist)"
        formControlName="tempValue"
        placeholder="ISNI code (composer, lyricist)">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Writer’s role (music, lyrics, etc)"
        formControlName="tempValue"
        placeholder="Writer’s role (music, lyrics, etc)">
      </mat-form-field>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="Who is this writer’s publisher?"
        formControlName="tempValue"
        placeholder="Who is this writer’s publisher?">
      </mat-form-field>
      <button mat-raised-button
      class="save-content-button mat-white-bg mt-16 mt-sm-0">
      <span>More Writers Publishers</span>
    </button>
      <mat-form-field class="w-100-p">
        <input
        matInput
        name="PRO"
        formControlName="tempValue"
        placeholder="PRO">
      </mat-form-field>
    </div>
  </mat-tab>
  <mat-tab label="Management & Splits">
    <div class="tab-content p-24" fxLayout="column">
      <h1>General smart contract income split:</h1>
      <div class="py-16" fxLayout="row">

        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Percentile split between master and composition"
          formControlName="tempValue"
          placeholder="Percentile split between master and composition">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Percent to streaming platform"
          formControlName="tempValue"
          placeholder="Percent to streaming platform">
        </mat-form-field>
      </div>
      <h1>Master side management:</h1>
      <div class="py-16" fxLayout="row">

        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Muse IDs of managers on master side:"
          formControlName="tempValue"
          placeholder="Muse IDs of managers on master side:">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Management weight of each ID"
          formControlName="tempValue"
          placeholder="Management weight of each ID">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="What percent is required for an edit to take place:"
          formControlName="tempValue"
          placeholder="What percent is required for an edit to take place:">
        </mat-form-field>
      </div>
      <h1>Master side income split:</h1>
      <div class="py-16" fxLayout="row">
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="What percent of master side income goes to each manager:"
          formControlName="tempValue"
          placeholder="What percent of master side income goes to each manager:">
        </mat-form-field>
      </div>
      <h1>Composition side management:</h1>
      <div class="py-16" fxLayout="row">

        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Muse IDs of managers on composition side:"
          formControlName="tempValue"
          placeholder="Muse IDs of managers on composition side:">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Management weight of each ID"
          formControlName="tempValue"
          placeholder="Management weight of each ID">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="What percent is required for an edit to take place:"
          formControlName="tempValue"
          placeholder="What percent is required for an edit to take place:">
        </mat-form-field>
      </div>
      <h1>Composition side income split:</h1>
      <div class="py-16" fxLayout="row">
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="What percent of composition side income goes to each manager:"
          formControlName="tempValue"
          placeholder="What percent of composition side income goes to each manager:">
        </mat-form-field>
      </div>

    </div>
  </mat-tab>
</mat-tab-group>
</form>
</div>
<!-- / CONTENT -->
</div>
<!-- / CONTENT -->
</div>
<!-- / CONTENT CARD -->
</div>
<!-- / CENTER -->
