@import "src/app/core/scss/muse";

.album-sidenav {
  position: absolute;
  height: auto; 
  width:10vw;
  border: 1px solid #333333;
  top: 0;
  right: 0;
}
.track-sidenav {
  position: absolute;
  height: 50%;
  border: 1px solid black;
  bottom: 0;
  right: 0;
}
 
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.management-sidenav {
  position: absolute;
  height: 50%;
  border: 1px solid black;
  top: 0;
  right: 0;
}
.composition-sidenav {
  position: absolute;
  height: 50%;
  border: 1px solid black;
  bottom: 0;
  right: 0;
}

.publishers-sidenav {
  position: absolute;
  height: 50%;
  border: 1px solid black;
  top: 0;
  right: 0;
}
.writers-sidenav {
  position: absolute;
  height: 50%;
  border: 1px solid black;
  bottom: 0;
  right: 0;
}
// .page-content-wrapper {padding:2.4rem 9rem 2.4rem 0};
// .page-content{
//   background-color:#fff;
//   padding:0 1.6rem;
//   z-index:10;
//   .page-header{height:20rem;min-height:20rem;max-height:20rem};
//   .header-content{height:100%};
//   .row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px};
//   .no-gutters{margin-right:0;margin-left:0};
//   .toolbar{height:6.4rem;min-height:6.4rem;max-height:6.4rem;border-bottom:1px solid rgba(0,0,0,.12)};
//   .page-sidebar{width:22rem;min-width:22rem;max-width:22rem};
//   .sidebar-header{height:20rem;min-height:20rem;max-height:20rem;padding:2.4rem};
//   .sidebar-content{height:240px};
//   .sidebar-content.details{border-top:1px solid rgba(0,0,0,.12);border-bottom:1px solid rgba(0,0,0,.12);font-weight:500};
//   .right-side {float: right};

// }

.page-sidebar{width:32rem;max-width:90%;background:rgb(199, 33, 33)};