<div id="post" class="page-layout carded fullwidth">
  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-deep-purple-bg"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header white-fg p-24" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Post Content</h2>
      <button mat-raised-button type="submit" [disabled]="!postForm.valid"
      class="save-content-button mat-white-bg mt-16 mt-sm-0" (click)="firecontent()">
      <span>SAVE</span>
    </button>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT CARD -->
  <div class="content-card mat-white-bg">
    <!-- CONTENT -->
    <div class="content">
      <form name="postForm" [formGroup]="postForm" class="post w-100-p" fxLayout="column" fxFlex>
        <mat-tab-group>
          <mat-tab label="Master Side">
            <div class="tab-content p-24" fxLayout="column">
              <h1>Album Info Section:</h1>
              <div class="py-16" fxLayout="row">
                <mat-form-field class="w-100-p">
                  <input
                  matInput
                  name="Album URL"
                  formControlName="ipfsUrl"
                  placeholder="Album URL">
                </mat-form-field>
                <mat-form-field class="w-100-p">
                  <input
                  matInput
                  name="Album Title"
                  formControlName="albumTitle"
                  placeholder="Album Title">
                </mat-form-field>
              </div>
              <div class="py-16" fxLayout="row">
                <mat-form-field class="w-100-p">
                  <input
                  matInput
                  name="Album Artist"
                  formControlName="albumArtist"
                  placeholder="Album Artist">
                </mat-form-field>
                <button mat-raised-button (click)="addtoalbumarray()"
                class="save-content-button mat-white-bg mt-16 mt-sm-0">
                Add to album artists list
              </button>
            </div>
            <mat-form-field class="w-100-p">
              <input
              matInput
              type="number"
              name="Album Genre"
              formControlName="albumGenre"
              placeholder="Album Genre">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              matInput
              name="Country of Origin"
              formControlName="countryOrigin"
              placeholder="Country of Origin">
            </mat-form-field>
            <div fxLayout="row" fxLayout.xs="column" fxFlex="1 0 auto" fxLayoutAlign="space-between center">
              <mat-checkbox matInput formControlName="explicit">
                Content is explicit?
              </mat-checkbox>
            </div>
            <mat-form-field class="w-100-p">
              <input
              matInput
              name="Album P line"
              formControlName="albumPline"
              placeholder="Album P line">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              matInput
              name="Album C line"
              formControlName="albumCline"
              placeholder="Album C line">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              type="number"
              matInput
              name="UPC or EAN"
              formControlName="upcEan"
              placeholder="UPC or EAN">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              type="number"
              matInput
              name="Release Date"
              formControlName="releaseDate"
              placeholder="Release Date">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              type="number"
              matInput
              name="Release Year"
              formControlName="releaseYear"
              placeholder="Release Year">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              type="date"
              matInput
              name="Sales Start Date"
              formControlName="salesStartDate"
              placeholder="Sales Start Date">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              matInput
              name="Album Producer"
              formControlName="albumProducer"
              placeholder="Album Producer">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              matInput
              name="Album Type"
              formControlName="albumType"
              placeholder="Album Type">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              matInput
              name="Master Label Name"
              formControlName="masterLabelName"
              placeholder="Master Label Name">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              matInput
              name="Display Label Name (aka imprint label name)"
              formControlName="displayLabelName"
              placeholder="Display Label Name (aka imprint label name)">
            </mat-form-field>
            <h1>Track Info Section:</h1>
            <div fxLayout="row" fxLayout.xs="column" fxFlex="1 0 auto" fxLayoutAlign="space-between center">
              <mat-checkbox matInput formControlName="partofAlbum">
                Content is part of an album?
              </mat-checkbox>
            </div>
            <mat-form-field class="w-100-p">
              <input
              matInput
              name="Track Title"
              formControlName="trackTitle"
              placeholder="Track Title">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              type="text"
              matInput
              name="ISRC code"
              formControlName="isrc"
              placeholder="ISRC code">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              matInput
              name="Featured Artist"
              formControlName="featuredArtist"
              placeholder="Featured Artist">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              type="number"
              matInput
              name="Featured Artist ISNI"
              formControlName="featuredArtistISNI"
              placeholder="Featured Artist ISNI">
            </mat-form-field>
            <div class="py-16" fxLayout="row">
              <mat-form-field class="w-100-p">
                <input
                matInput
                name="Track Artist"
                formControlName="trackArtist"
                placeholder="Track Artist">
              </mat-form-field>
              <mat-form-field class="w-100-p">
                <input
                matInput
                name="Track Artist Alias"
                formControlName="trackartistalias"
                placeholder="Track Artist Alias">
              </mat-form-field>
              <mat-form-field class="w-100-p">
                <input
                type="number"
                matInput
                name="Track Artist ISNI"
                formControlName="trackartistisni"
                placeholder="Track Artist ISNI">
              </mat-form-field>
              <button mat-raised-button (click)="addtotrackarray()"
              class="save-content-button mat-white-bg mt-16 mt-sm-0">
              Add to track artists list
            </button>
          </div>
          <mat-form-field class="w-100-p">
            <input
            type="number"
            matInput
            name="Track Genre"
            formControlName="trackGenre"
            placeholder="Track Genre">
          </mat-form-field>
          <mat-form-field class="w-100-p">
            <input
            matInput
            name="Track P line"
            formControlName="trackPline"
            placeholder="Track P line">
          </mat-form-field>
          <mat-form-field class="w-100-p">
            <input
            type="number"
            matInput
            name="Track Number"
            formControlName="trackNo"
            placeholder="Track Number">
          </mat-form-field>
          <mat-form-field class="w-100-p">
            <input
            type="number"
            matInput
            name="Track Volume Number"
            formControlName="trackVolumeNumber"
            placeholder="Track Volume Number">
          </mat-form-field>
          <div fxLayout="row" fxLayout.xs="column" fxFlex="1 0 auto" fxLayoutAlign="space-between center">
            <mat-checkbox matInput formControlName="samples">
              Content has a sample track?
            </mat-checkbox>
          </div>
        </div>
        <mat-sidenav-container class="album-sidenav">
          <mat-sidenav mode="side" opened=true></mat-sidenav>
          <mat-sidenav-content>
            <h2>Album Artist IDs</h2>
            <ul *ngFor="let Item of postForm.value.albumArtistlist; index as i">
              {{ Item }}
              <button (click)="removefromarray('albumArtistlist', i)">Remove</button>
            </ul>
          </mat-sidenav-content>
        </mat-sidenav-container>
        <mat-sidenav-container class="track-sidenav">
          <mat-sidenav mode="side" opened=true></mat-sidenav>
          <mat-sidenav-content>
            <h2>Track Artist IDs</h2>
            <ul *ngFor="let Item of postForm.value.trackArtistlist; index as i">
              {{ Item.artist }} {{ Item.aliases }} {{ Item.ISNI }}
              <button (click)="removefromarray('trackArtistlist', i)">Remove</button>
            </ul>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </mat-tab>
      <mat-tab label="Composition Side">
        <div class="tab-content p-24" fxLayout="column">
          <mat-form-field class="w-100-p">
            <input
            matInput
            name="Composition Title"
            formControlName="compositionTitle"
            placeholder="Composition Title">
          </mat-form-field>
          <mat-form-field class="w-100-p">
            <input
            matInput
            name="Composition Title Alternate"
            formControlName="compositionTitleAlt"
            placeholder="Composition Title Alternate">
          </mat-form-field>
          <mat-form-field class="w-100-p">
            <input
            type="number"
            matInput
            name="Composition ISWC"
            formControlName="compositionTitleISWC"
            placeholder="Composition ISWC">
          </mat-form-field>
          <mat-form-field class="w-100-p">
            <input
            matInput
            name="Performing Rights Organization"
            formControlName="pro"
            placeholder="Performing Rights Organization">
          </mat-form-field>
          <div fxLayout="row" fxLayout.xs="column" fxFlex="1 0 auto" fxLayoutAlign="space-between center">
            <mat-checkbox matInput formControlName="thirdParty">
              Content is third party managed?
            </mat-checkbox>
          </div>
          <div class="py-16" fxLayout="row">
            <mat-form-field class="w-100-p">
              <input
              matInput
              name="Publisher"
              formControlName="compositionPublishers"
              placeholder="Publisher">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              type="number"
              matInput
              name="compositionPublishersIPI_CAE"
              formControlName="compositionPublishersIPI_CAE"
              placeholder="Publisher IPI or CAE">
            </mat-form-field>
            <mat-form-field class="w-100-p">
              <input
              type="number"
              matInput
              name="compositionPublishersISNI"
              formControlName="compositionPublishersISNI"
              placeholder="Publisher ISNI">
            </mat-form-field>
            <button mat-raised-button (click)="addtopublisherarray()"
            class="save-content-button mat-white-bg mt-16 mt-sm-0">
            Add to publishers list
          </button>
        </div>
        <div class="py-16" fxLayout="row">
          <mat-form-field class="w-50-p">
            <input
            matInput
            name="Writer"
            formControlName="compositionWriters"
            placeholder="Writer">
          </mat-form-field>
          <mat-form-field class="w-50-p">
            <input
            type="number"
            matInput
            name="Writer IPI_CAE"
            formControlName="compositionWritersIPI_CAE"
            placeholder="Writer IPI or CAE">
          </mat-form-field>
        </div>
        <div class="py-16" fxLayout="row">
          <mat-form-field class="w-50-p">
            <input
            type="number"
            matInput
            name="Writer ISNI"
            formControlName="compositionWritersISNI"
            placeholder="Writer ISNI">
          </mat-form-field>
          <mat-form-field class="w-50-p">
            <input
            type="number"
            matInput
            name="Writer role"
            formControlName="compositionWritersrole"
            placeholder="Writer Role">
          </mat-form-field>
          <mat-form-field class="w-50-p">
            <input
            matInput
            name="Writer Publisher"
            formControlName="compositionWritersPublisher"
            placeholder="Writer's Publisher">
          </mat-form-field>
          <button mat-raised-button (click)="addtowriterarray()"
          class="save-content-button mat-white-bg mt-16 mt-sm-0">
          Add to writers list
        </button>
      </div>
    </div>
    <mat-sidenav-container class="publishers-sidenav">
      <mat-sidenav mode="side" opened=true></mat-sidenav>
      <mat-sidenav-content>
        <h2>Publishers IDs</h2>
        <ul *ngFor="let Item of postForm.value.compositionPublisherslist; index as i">
          {{ Item.publisher }} {{ Item.IPI_CAE }} {{ Item.ISNI }}
          <button (click)="removefromarray('compositionPublisherslist', i)">Remove</button>
        </ul>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <mat-sidenav-container class="writers-sidenav">
      <mat-sidenav mode="side" opened=true></mat-sidenav>
      <mat-sidenav-content>
        <h2>Writers IDs</h2>
        <ul *ngFor="let Item of postForm.value.compositionWriterslist; index as i">
          {{ Item.writer }} {{ Item.IPI_CAE }} {{ Item.ISNI }} {{ Item.role }} {{ Item.publisher }}
          <button (click)="removefromarray('compositionWriterslist', i)">Remove</button>
        </ul>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-tab>
  <mat-tab label="Management & Splits">
    <div class="tab-content p-24" fxLayout="column">
      <h1>General smart contract income split:</h1>
      <div class="py-16" fxLayout="row">
        <mat-form-field class="w-100-p">
          <input
          type="number"
          matInput
          name="Percent that goes composition."
          formControlName="pubshare"
          placeholder="Percent to composition side.">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          type="number"
          matInput
          name="Percent to streaming platform"
          formControlName="playreward"
          placeholder="Percent to streaming platform.">
        </mat-form-field>
      </div>
      <h1>Master side management and income split:</h1>
      <div class="py-16" fxLayout="row">
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Muse IDs of managers on master side:"

          formControlName="masterUser"
          placeholder="Muse IDs of managers on master side:">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          type="number"
          matInput
          name="Management weight of this ID:"

          formControlName="masterWeight"
          placeholder="Management weight of this ID:">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          type="number"
          matInput
          name="Percent of the income goes to this ID:"

          formControlName="masterSplit"
          placeholder="Percent of the income goes to this ID:">
        </mat-form-field>
        <button mat-raised-button (click)="addtoMasterArray()">Add</button>
      </div>
      <h1>Master side management threshold:</h1>
      <div class="py-16" fxLayout="row">
        <mat-form-field class="w-100-p">
          <input
          type="number"
          matInput
          name="What percent of of management weight is needed to make changes:"
          formControlName="masterthresh"
          placeholder="What percent of of management weight is needed to make changes:">
        </mat-form-field>
      </div>
      <h1>Composition side management and income split:</h1>
      <div class="py-16" fxLayout="row">
        <mat-form-field class="w-100-p">
          <input
          matInput
          name="Muse IDs of managers on composition side:"

          formControlName="compUser"
          placeholder="Muse IDs of managers on composition side:">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          type="number"
          matInput
          name="Management weight of this ID:"

          formControlName="compWeight"
          placeholder="Management weight of this ID:">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input
          type="number"
          matInput
          name="Percent of the income goes to this ID:"

          formControlName="compSplit"
          placeholder="Percent of the income goes to this ID:">
        </mat-form-field>
        <button mat-raised-button (click)="addtoCompArray()">Add</button>
      </div>
      <h1>Composition side management threshold:</h1>
      <div class="py-16" fxLayout="row">
        <mat-form-field class="w-100-p">
          <input
          type="number"
          matInput
          name="What percent of of management weight is needed to make changes:"
          formControlName="compthresh"
          placeholder="What percent of of management weight is needed to make changes:">
        </mat-form-field>
      </div>
    </div>
    <mat-sidenav-container class="management-sidenav">
      <mat-sidenav mode="side" opened=true>Sidenav content</mat-sidenav>
      <mat-sidenav-content>
        <h2>Master Side IDs</h2>
        <ul *ngFor="let User of postForm.value.masterUsersList; index as i">
          {{ User.user }} {{ User.percentage}} {{ User.bp }}
          <button (click)="editMasterArray(i)">Edit</button>
        </ul>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <mat-sidenav-container class="composition-sidenav">
      <mat-sidenav mode="side" opened=true>Sidenav content</mat-sidenav>
      <mat-sidenav-content>
        <h2>Composition Side IDs</h2>
        <ul *ngFor="let User of postForm.value.compUsersList; index as i">
          {{ User.user }} {{ User.percentage}} {{ User.bp }}
          <button (click)="editCompArray(i)">Edit</button>
        </ul>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-tab>
</mat-tab-group>
</form>
</div>
<!-- / CONTENT -->
</div>
<!-- / CONTENT -->
</div>
<!-- / CONTENT CARD -->
</div>
<!-- / CENTER -->
