:host {
  display: block;
  

    .mat-dialog-container {
        padding: 0;
        width: 720px;
        // max-width: 720px !important; // TODO: FIX: 
    }

    .dialog-content-wrapper {
        max-height: 15vh;
        display: flex;
        flex-direction: column;
    }


}