<form name="smartForm" class="smart-form">
    <mat-form-field class="full-width">
        <input type="text" placeholder="Type" matInput [formControl]="smartControl" [matAutocomplete]="auto"
            matTooltip= {{toolTips.productType}} matTooltipShowDelay= {{toolTips.delay}}>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option #selectedType *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
