<div id="users" class="page-layout carded fullwidth" perfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-deep-purple-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <!--<mat-icon class="logo-icon mr-16" *ifOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box</mat-icon>-->
                <span class="logo-text h1" *ifOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Content</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search content">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <!--[routerLink]="'/user-management/users/new'"-->
            <button mat-raised-button
                       [routerLink]="'/rights-management/content/new'"
                    class="add-content-button mat-white-bg my-12 mt-sm-0">
                <span>POST NEW CONTENT</span>
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="content-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       perfectScrollbar>

                <ng-container cdkColumnDef="id">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *cdkCellDef="let content">
                        <!--<p class="text-truncate">{{content.id}}</p>-->
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="albumTitle">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Album Title</mat-header-cell>
                    <mat-cell *cdkCellDef="let content">
                        <!--<p class="text-truncate">{{content.albumTitle}}</p>-->
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="trackTitle">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Track Title</mat-header-cell>
                    <mat-cell *cdkCellDef="let content" fxHide fxShow.gt-sm>
                        <span>
                            <!--{{content.trackTitle}}-->
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="upcEan">
                    <mat-header-cell *cdkHeaderCellDef fxHide mat-sort-header fxShow.gt-md>UPC/Ean</mat-header-cell>
                    <mat-cell *cdkCellDef="let content" fxHide fxShow.gt-md>
                        <p class="text-truncate">
                            <!--{{content.upcEan}}-->
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="releaseDate">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Release Date</mat-header-cell>
                    <mat-cell *cdkCellDef="let content" fxHide fxShow.gt-xs>
                        <p class="text-truncate">
                            <!--{{content.releaseDate}}-->
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="releaseYear">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Release Year</mat-header-cell>
                    <mat-cell *cdkCellDef="let content" fxHide fxShow.gt-sm>
                        <span>
                            <!--{{content.releaseYear}}-->
                        </span>
                    </mat-cell>
                </ng-container>


              <!-- Validated Column -->
                <!--<ng-container cdkColumnDef="validated">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Validated</mat-header-cell>
                    <mat-cell *cdkCellDef="let content" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="content.validated" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                        <mat-icon *ngIf="!content.validated" class="active-icon mat-red-500-bg s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>-->


                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let content; columns: displayedColumns;"
                         class="content"
                         matRipple
                         [routerLink]="'/rights-management/content/'+content.id+'/'+content.handle">
                </mat-row>

            </mat-table>

            <!--<mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>-->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
