<div id="users" class="page-layout carded fullwidth" perfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-deep-purple-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *ifOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box</mat-icon>
                <span class="logo-text h1" *ifOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Users</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search Users by Muse ID, Email, or Name">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <button mat-raised-button
                    [routerLink]="'/user-management/users/new'"
                    class="add-user-button mat-white-bg my-12 mt-sm-0">
                <span>ADD NEW USER</span>
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="users-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       perfectScrollbar>

                <!-- ID Column -->
                <ng-container cdkColumnDef="id">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *cdkCellDef="let user">
                        <p class="text-truncate">{{user.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Image Column -->
                <!--<ng-container cdkColumnDef="image">
                    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
                    <mat-cell *cdkCellDef="let user">
                        <img class="user-image"
                             *ngIf="user.images[0]" [alt]="user.name"
                             [src]="user.images[0].url"/>
                        <img *ngIf="!user.images[0]" [src]="'assets/images/ecommerce/user-image-placeholder.png'">
                    </mat-cell>
                </ng-container>-->

                <!-- Name Column -->
                <ng-container cdkColumnDef="muserName">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Muse ID</mat-header-cell>
                    <mat-cell *cdkCellDef="let user">
                        <!--<p class="text-truncate">{{user.muserName}}</p>-->
                    </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container cdkColumnDef="email">
                    <mat-header-cell *cdkHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Email</mat-header-cell>
                    <mat-cell *cdkCellDef="let user" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            <!--{{user.email}}-->
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Permissions Column -->
                <ng-container cdkColumnDef="permissions">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Permissions</mat-header-cell>
                    <mat-cell *cdkCellDef="let user" fxHide fxShow.gt-xs>
                        <p class="price text-truncate">
                            <!--{{user.permissions}}-->
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container cdkColumnDef="status">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Status</mat-header-cell>
                    <mat-cell *cdkCellDef="let user" fxHide fxShow.gt-sm>
                        <span>
                            <!--{{user.status}}-->
                        </span>
                    </mat-cell>
                </ng-container>

              <!-- Validated Column -->
                <ng-container cdkColumnDef="validated">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Validated</mat-header-cell>
                    <mat-cell *cdkCellDef="let user" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="user.validated" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                        <mat-icon *ngIf="!user.validated" class="active-icon mat-red-500-bg s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <!--<ng-container cdkColumnDef="status">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Status</mat-header-cell>
                    <mat-cell *cdkCellDef="let user" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="user.active" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                        <mat-icon *ngIf="!user.active" class="active-icon mat-red-500-bg s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>-->

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let user; columns: displayedColumns;"
                         class="user"
                         matRipple
                         [routerLink]="'/user-management/users/'+user.id+'/'+user.handle">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
