<div class="main-toolbar mat-elevation-z2">
  <div fxLayout="row" fxLayoutAlign="start center" fxHide="false" fxHide.gt-sm>
    <button (click)="sidenav.open()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <!--<div fxLayout="row" fxLayoutAlign="start center" fxFlex="500px" fxHide fxShow.gt-md>
    <search-bar></search-bar>
  </div>-->

  <breadcrumbs *ngIf="showBreadcrumbs" [fxHide]="true" [fxHide.gt-sm]="false"></breadcrumbs>

  <span fxFlex></span>

  <!--<search></search>-->
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="500px" fxHide fxShow.gt-md>
    <search-bar></search-bar>
  </div>

  <div class="">
    <!--<toolbar-notifications></toolbar-notifications>-->
  </div>

  <div class="user-button-container">
    <!--<toolbar-user></toolbar-user>-->
  </div>
</div>
