<div id="wallet" class="page-layout carded fullwidth" perfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-deep-purple-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg p-24" fxLayout="row" fxLayoutAlign="space-between center">

            <h2>Wallet</h2>
            <button mat-raised-button
                class="save-content-button mat-white-bg mt-16 mt-sm-0">
            <span>SAVE</span>
            </button>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg">
            <!-- CONTENT -->
            <div class="content">

                <form name="walletForm" [formGroup]="walletForm" class="user w-100-p" fxLayout="column" fxFlex>
                    <mat-tab-group>
                        <mat-tab label="Tab A">
                            <div class="tab-content p-24" perfectScrollbar>
                                <div class="py-16" fxLayout="row">
                                    <mat-form-field class="w-100-p">
                                        <input  
                                            readonly
                                            matInput
                                            name="tempValue"
                                            formControlName="tempValue"
                                            placeholder="READONLY TEMP VALUE 1">
                                    </mat-form-field>
                                </div>
                                <mat-form-field class="w-100-p">
                                        <input  
                                            matInput
                                            name="tempValue"
                                            formControlName="tempValue"
                                            placeholder="TEMP VALUE 2">
                                    </mat-form-field>
                                <mat-form-field class="w-100-p">
                                    <textarea 
                                              matInput
                                              name="tempValue"
                                              formControlName="tempValue"
                                              placeholder="TEMP VALUE 3" >
                                    </textarea>
                                </mat-form-field>
                            </div>
                        </mat-tab>

                        <mat-tab label="Tab B">
                            <div class="tab-content p-24" perfectScrollbar fxLayout="column">
                                <div class="py-16" fxLayout="row">
                                    <mat-form-field fxFlex>
                                        <input matInput
                                           name="tempValue"
                                           formControlName="tempValue"
                                           placeholder="TEMP VALUE 4">
                                    </mat-form-field>
                                    <mat-form-field fxFlex>
                                        <input matInput
                                           name="tempValue"
                                           formControlName="tempValue"
                                           placeholder="TEMP VALUE 5">
                                    </mat-form-field>
                                </div>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="tempValue"
                                           formControlName="tempValue"
                                           placeholder="TEMP VALUE 6">
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="number"
                                           formControlName="tempValue"
                                           placeholder="TEMP VALUE 7" 
                                           type="number">                  
                                </mat-form-field>
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form>

            </div>
            <!-- / CONTENT -->


            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
