<div id="wallet" class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-deep-purple-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->

  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg p-24" fxLayout="row" fxLayoutAlign="space-between center">

      <h2>Wallet</h2>
      <button mat-raised-button
      class="save-content-button mat-white-bg mt-16 mt-sm-0">
      <span>SAVE</span>
    </button>


  </div>
  <!-- / HEADER -->

  <!-- CONTENT CARD -->
  <div class="content-card mat-white-bg">
    <!-- CONTENT -->
    <div class="content">

      <form name="walletForm" [formGroup]="walletForm" class="user w-100-p" fxLayout="column" fxFlex>
        <mat-tab-group>
          <mat-tab label="Balances">
            <div class="tab-content p-24" fxLayout="column">
              <div class="py-16" fxLayout="row">
                <mat-form-field class="w-100-p">
                  <input
                  readonly
                  matInput
                  name="Muse"
                  formControlName="Musebalance"
                  placeholder="Muse Balance">
<p>Tradeable tokens that may be transferred anywhere at anytime.
MUSE can be vested by clicking transfer to Vesting.</p>

                </mat-form-field>
              </div>
              <mat-form-field class="w-100-p">
                <input
                readonly
                matInput
                name="Vests"
                formControlName="Vestbalance"
                placeholder="Vests Balance">
<p>Tokens that grant you more influence within the network.</p>
              </mat-form-field>
              <mat-form-field class="w-100-p">
                <input
                readonly
                matInput
                name="MBD"
                formControlName="MBDbalance"
                placeholder="Muse Backed Dollars Balance">
<p>Tokens worth about $1.00 of MUSE</p>
              </mat-form-field>
              <mat-form-field class="w-100-p">
                <input
                readonly
                matInput
                name="Next Withdrawal"
                formControlName="MBDbalance"
                placeholder="Next Withdrawal">

              </mat-form-field>
              <mat-form-field class="w-100-p">
                <input
                readonly
                matInput
                name="History"
                formControlName="History"
                placeholder="History">
              </mat-form-field>
            </div>
          </mat-tab>

          <mat-tab label="Password">
            <div class="tab-content p-24" fxLayout="column">
              <div class="py-16" fxLayout="row">

                <mat-form-field fxFlex>
                  <input matInput
                  name="CurrentPass"
                  formControlName="tempValue"
                  placeholder="Current Password">
                </mat-form-field>
              </div>
              <p>Do not lose your password.
We cannot recover your password.
If you can remember the password, It's not secure.
Use only randomly-generated passwords.
Do not tell anyone your password.
Always back up your password.</p>
                <mat-form-field fxFlex>
                  <input matInput
                  name="NewPass"
                  formControlName="tempValue"
                  placeholder="New Password">
                </mat-form-field>

              <mat-form-field class="w-100-p">
                <input matInput
                name="Confirm"
                formControlName="tempValue"
                placeholder="Confirm Password">
                <div class="py-16" fxLayout="row">

                <mat-checkbox>
                    I UNDERSTAND THIS WALLET HOSTER CANNOT RECOVER LOST PASSWORDS
                </mat-checkbox>
              </div>
              <div class="py-16" fxLayout="row">
                <mat-checkbox>
                    I HAVE SECURELY SAVED MY GENERATED PASSWORD
                </mat-checkbox>
              </div>
              </mat-form-field>
            </div>
          </mat-tab>

          <mat-tab label="Permissions">
            <div class="tab-content p-24" fxLayout="column">
              <div class="py-16" fxLayout="row">
                <mat-form-field class="w-100-p">
                  <input
                  readonly
                  matInput
                  name="Basic"
                  formControlName="tempValue"
                  placeholder="Basic">
<p>The basic key is used for non-financial functions such as voting,
connection with other users and approving/declining proposed modifications to your data.
It should be different from the active and owner keys.</p>
                </mat-form-field>
              </div>
                <mat-form-field class="w-100-p">
                  <input
                  readonly
                  matInput
                  name="Active"
                  formControlName="tempValue"
                  placeholder="Active">
<p>The active key is used for financial transactions and the creation of (or updates to) your data.
It should be used from a secure workstation.</p>
                </mat-form-field>

                <mat-form-field class="w-100-p">
                <input
                readonly
                matInput
                name="Owner"
                formControlName="tempValue"
                placeholder="Owner">
<p>The owner key is the master key for the account and is required to change the other keys.
The private key or password for the owner key should be kept offline as much as possible.</p>
              </mat-form-field>

              <mat-form-field class="w-100-p">
                <input
                readonly
                matInput
                name="Memo"
                formControlName="tempValue"
                placeholder="Memo">
<p>The memo key is used to create and read memos.</p>
              </mat-form-field>
            </div>
          </mat-tab>

          <mat-tab label="Witness-Voting">
            <div class="tab-content p-24" fxLayout="column">
              <div class="py-16" fxLayout="row">
                <mat-form-field fxFlex>
                  <input matInput
                  name="tempValue"
                  formControlName="tempValue"
                  placeholder="TEMP VALUE 4">
                </mat-form-field>
                <mat-form-field fxFlex>
                  <input matInput
                  name="tempValue"
                  formControlName="tempValue"
                  placeholder="TEMP VALUE 5">
                </mat-form-field>
              </div>

              <mat-form-field class="w-100-p">
                <input matInput
                name="tempValue"
                formControlName="tempValue"
                placeholder="TEMP VALUE 6">
              </mat-form-field>

              <mat-form-field class="w-100-p">
                <input matInput
                name="number"
                formControlName="tempValue"
                placeholder="TEMP VALUE 7"
                type="number">
              </mat-form-field>
            </div>
          </mat-tab>
        </mat-tab-group>
      </form>

    </div>
    <!-- / CONTENT -->


  </div>
  <!-- / CONTENT -->

</div>
<!-- / CONTENT CARD -->

</div>
<!-- / CENTER -->
