<mat-sidenav-container>

    <div id="main-content">

        <!-- TOOLBAR: Above -->
        <ng-container *ngIf="settings.layout.toolbar === 'above'">
            <toolbar class="above" [ngClass]="settings.colorClasses.toolbar"></toolbar>
        </ng-container>
        <!-- / TOOLBAR: Above -->

        <div id="wrapper">

            <!-- NAVBAR: Left -->
            <navbar-vertical [folded]="settings.layout.navigationFolded"
                                  class="left-navbar"
                                  [ngClass]="settings.colorClasses.navbar"
                                  *ngIf="settings.layout.navigation === 'left' || settings.layout.navigation === 'top'">
            </navbar-vertical>
            <!-- / NAVBAR: Left -->

            <div class="content-wrapper">

                <!-- TOOLBAR: Below -->
                <ng-container *ngIf="settings.layout.toolbar === 'below'">
                    <toolbar class="below" [ngClass]="settings.colorClasses.toolbar"></toolbar>
                </ng-container>
                <!-- / TOOLBAR: Below -->

                <pages></pages>

                <!-- FOOTER: Below -->
                <ng-container *ngIf="settings.layout.footer === 'below'">
                    <footer class="below" [ngClass]="settings.colorClasses.footer"></footer>
                </ng-container>
                <!-- / FOOTER: Below -->

            </div>

            <!-- NAVBAR: Right -->
            <navbar-vertical [folded]="settings.layout.navigationFolded"
                                  class="right-navbar"
                                  [ngClass]="settings.colorClasses.navbar"
                                  *ngIf="settings.layout.navigation === 'right'">
            </navbar-vertical>
            <!-- / NAVBAR: Right -->

        </div>

        <!-- FOOTER: Above -->
        <!--<ng-container *ngIf="settings.layout.footer === 'above'">
            <fuse-footer class="above" [ngClass]="settings.colorClasses.footer"></fuse-footer>
        </ng-container>-->
        <!-- FOOTER: Above -->

    </div>

</mat-sidenav-container>

<!--<theme></theme>-->
