<div id="user" class="page-layout carded fullwidth" perfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-deep-purple-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/user-management/users'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <!--<div class="user-image mr-8 mr-sm-16" *ifOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="user.images[0]" [src]="user.images[0].url">
                    <img *ngIf="!user.images[0]" [src]="'assets/fakedb/images/user-management/image-placeholder.png'">
                </div>-->

                <div fxLayout="column" fxLayoutAlign="start start"
                     *ifOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{user.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New User
                    </div>
                    <div class="subtitle secondary-text">
                        <span>User Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-user-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="userForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addUser()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-user-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="userForm.invalid || userForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveUser()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="userForm" [formGroup]="userForm" class="user w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>
                        <mat-tab label="Base Info">
                            <div class="tab-content p-24" perfectScrollbar>
                                <div class="py-16" fxLayout="row">
                                    <mat-form-field class="w-100-p">
                                        <input  
                                            matInput
                                            name="muserName"
                                            formControlName="muserName"
                                            placeholder="Muser Name">
                                    </mat-form-field>
                                    <!--<mat-form-field class="w-100-p">
                                        <input  
                                            readonly
                                            matInput
                                            name="validated"
                                            formControlName="validated"
                                            placeholder="Validated">
                                                <mat-icon *ngIf="user.validated" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                                                <mat-icon *ngIf="!user.validated" class="active-icon mat-red-500-bg s-16">close</mat-icon>
                                    </mat-form-field>-->
                                </div>
                                <mat-form-field class="w-100-p">
                                        <input  
                                            matInput
                                            name="name"
                                            formControlName="name"
                                            placeholder="Name">
                                    </mat-form-field>
                                <mat-form-field class="w-100-p">
                                    <textarea 
                                              matInput
                                              name="email"
                                              formControlName="email"
                                              placeholder="Email" >
                                              <!--rows="5">-->
                                    </textarea>
                                </mat-form-field>
                                <mat-form-field class="w-100-p">
                                    <mat-chip-list matPrefix #tagList
                                                   name="tags"
                                                   formControlName="tags">

                                        <mat-chip *ngFor="let tag of user.tags"
                                                  removable="true" (removed)="user.removeTag(tag)">
                                            {{tag}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                    </mat-chip-list>
                                    <input matInput
                                           matChipInputAddOnBlur="true"
                                           (matChipInputTokenEnd)="user.addTag($event)"
                                           placeholder="Tags"
                                           [matChipInputFor]="tagList"/>
                                </mat-form-field>
                            </div>
                        </mat-tab>

                        <mat-tab label="User Management">
                            <div class="tab-content p-24" perfectScrollbar fxLayout="column">
                                <div class="py-16" fxLayout="row">
                                    <mat-form-field fxFlex>
                                        <mat-select formControlName="permissions"
                                                    placeholder="Permissions" 
                                                    required>
                                            <mat-option *ngFor="let permissions of userPermissions"
                                                        [value]="permissions.name">
                                                {{permissions.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field fxFlex>
                                        <mat-select formControlName="status"
                                                    placeholder="Status" 
                                                    required>
                                            <mat-option *ngFor="let status of userStatuses"
                                                        [value]="status.name">
                                                {{status.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="TextD"
                                           formControlName="textd"
                                           placeholder="Additional Info">
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="number"
                                           formControlName="number"
                                           placeholder="Numeric Value" type="number">
                                    <!--<span matPrefix>$&nbsp;</span>-->
                                </mat-form-field>
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
