@import "src/app/core/scss/muse";

.section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
}

.margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 100%;
  margin-right: 1em;
  // margin-left: 1em;
  color: blueviolet !important;; 
}




.spacing{
  padding-right: 1em;
}

.shift-icon{
  margin-left: -26em
}

.sales-shift-icon{
  margin-left: -25em
}

.smart-table{
  font-size: 16px;
}

.required{
  font-size: 18px;
  // color: color($matColorsMap, $mat-red) !important;
  color: red;
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.small-label{
  font-size: 12px;
  margin-left: 1em
}

.bottom-border{
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 20px;
}

.margin{
  margin-left: 15px;
}

.margin-right{
  margin-right: 15px;
}

// .mat-input-placeholder {
//   color: #fff !important;
//   font-size: 2em;
// }


mat-label{
  // color: map_get($foreground, hint-text);
  // color: red;
  margin-bottom: 100px;
  font-size: 18px;
}

mat-divider {
  margin: 16px 0;
}

.chip{
  margin: 10px 0 10px;
}

.mat-table {
  display: block;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}