<video autoplay muted loop id="videoBackground">
  <source src="/assets/peertracks.mp4" type="video/mp4">
</video>

<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="login mat-elevation-z12">
    <div fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/images/logos/muse.png" style="width: 200px;">
    </div>

    <form [formGroup]="form" (ngSubmit)="onLogin()">
      <div class="login-content" fxLayout="column" fxLayoutAlign="start stretch">
        <mat-form-field>
          <input matInput type="text" placeholder="MuserName" formControlName="muserName" required>
          <mat-error *ngIf="form.controls.muserName.hasError('required')">
              <strong>Muser Name is required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="form.controls.password.hasError('required')">
              <strong>Password is required</strong>
          </mat-error>
        </mat-form-field>
        <button color="primary" mat-raised-button [disabled]="!form.valid">SIGN IN</button>
        <p class="note">Don't have an account?<br/> <a [routerLink]="['/register']">Click here to create one</a></p>
      </div>
    </form>
  </div>
</div>