<div id="wallet" class="page-layout carded fullwidth" perfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-deep-purple-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

              <button mat-raised-button
                      [routerLink]="'wallet'"
                      class="mat-white-bg my-12 mt-sm-0">
                  <span>Balances</span>
              </button>
              <button mat-raised-button
                      [routerLink]="'wallet'"
                      class="mat-white-bg my-12 mt-sm-0">
                  <span>Permissions</span>
              </button>
              <button mat-raised-button
                      [routerLink]="'wallet'"
                      class="mat-white-bg my-12 mt-sm-0">
                  <span>Password</span>
              </button>
              <button mat-raised-button
                      [routerLink]="'wallet'"
                      class="mat-white-bg my-12 mt-sm-0">
                  <span>Witness Voting</span>
              </button>

            </div>
            <!-- / APP TITLE -->


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg my-12">
              <h1>Muse:</h1>
              <h1>Vest:</h1>
              <h1>MBD:</h1>



            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
