<div id="content" class="page-layout carded fullwidth" perfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-deep-purple-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/rights-management/content'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <!--<div class="user-image mr-8 mr-sm-16" *ifOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="user.images[0]" [src]="user.images[0].url">
                    <img *ngIf="!user.images[0]" [src]="'assets/fakedb/images/user-management/image-placeholder.png'">
                </div>-->

                <div fxLayout="column" fxLayoutAlign="start start"
                     *ifOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{content.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Content
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Content Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-content-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="contentForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addContent()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-content-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="contentForm.invalid || contentForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveContent()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="userForm" [formGroup]="userForm" class="user w-100-p" fxLayout="column" fxFlex>
                    <div class="content p-24">

                            <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
                                <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                                    fxFlex="1 0 auto" name="form" [formGroup]="form">

                                    <div fxLayout="row" fxLayout.xs="column"
                                        fxLayoutAlign="space-between center">
                                        <mat-checkbox>
                                            Content is part of an album?
                                        </mat-checkbox>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column"
                                        fxLayoutAlign="space-between center">
                                        <mat-checkbox>
                                            Content has sample track?
                                        </mat-checkbox>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column"
                                        fxLayoutAlign="space-between center">
                                        <mat-checkbox>
                                            Content is third party managed?
                                        </mat-checkbox>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column"
                                        fxLayoutAlign="space-between center">
                                        <mat-checkbox>
                                            Content is explicit?
                                        </mat-checkbox>
                                    </div>
                                    <div class="h2 mb-24"></div>

                                <div class="h2 mb-24">Album Data:</div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="100">
                                            <input matInput placeholder="Content URL" formControlName="ipfsUrl">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="100">
                                            <input matInput placeholder="Album Title" formControlName="albumTitle">
                                            <mat-error *ngIf="formErrors.albumTitle.required">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="100">
                                            <input matInput placeholder="Album Genre" formControlName="albumGenre">
                                            <mat-error *ngIf="formErrors.albumGenre.required">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="50">
                                            <input matInput placeholder="Country of Origin" formControlName="countryOrigin">
                                            <mat-error *ngIf="formErrors.countryOrigin.required">
                                                Required
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex="50">
                                            <input matInput placeholder="UPC or EAN" formControlName="upcEan">
                                            <mat-error *ngIf="formErrors.upcEan.required">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="33">
                                            <input matInput placeholder="Release Date" formControlName="releaseDate">
                                            <mat-error *ngIf="formErrors.releaseDate.required">
                                                Required
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex="34">
                                            <input matInput placeholder="Release Year" formControlName="releaseYear">
                                            <mat-error *ngIf="formErrors.releaseYear.required">
                                                Required
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex="33">
                                            <input matInput placeholder="Sales Start Date" formControlName="salesStartDate">
                                            <mat-error *ngIf="formErrors.salesStartDate.required">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="100">
                                            <input matInput placeholder="Master Label Name" formControlName="masterLabelName">
                                            <mat-error *ngIf="formErrors.masterLabelName.required">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="100">
                                            <input matInput placeholder="Display Label Name" formControlName="displayLabelName">
                                            <mat-error *ngIf="formErrors.displayLabelName.required">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                <div class="h2 mb-24">Track Data:</div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="100">
                                            <input matInput placeholder="Track Title" formControlName="trackTitle">
                                            <mat-error *ngIf="formErrors.trackTitle.required">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="50">
                                            <input matInput placeholder="ISRC code" formControlName="isrc">
                                            <mat-error *ngIf="formErrors.isrc.required">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field fxFlex="50">
                                            <input matInput placeholder="Track Number" formControlName="trackNo">
                                            <mat-error *ngIf="formErrors.trackNo.required">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                <div class="h2 mb-24">Composition Data:</div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="100">
                                            <input matInput placeholder="Composition Title" formControlName="compositionTitle">
                                            <mat-error *ngIf="formErrors.compositionTitle.required">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </form>

                                <div class="form-errors-model mat-white-bg p-24 mat-elevation-z4">
                                    <div class="h2 mb-24">Reactive Form Errors Model</div>
                                    <pre><code>{{formErrors | json}}</code></pre>
                                </div>

                            </div>
                        </div>
                        <!-- / CONTENT -->


                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
