<div class="dashboard" fxLayout="column" fxLayoutGap="16px">
  <div fxLayout="column" fxLayoutGap="16px" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start start">
    <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>


    </div>

    <div fxLayout="column" fxLayoutGap="16px" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start start">
      <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>

      </div>
      <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>

      </div>
      <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>

      </div>
    </div>
  </div>