<div class="dashboard" fxLayout="column" fxLayoutGap="16px">
  <div fxLayout="column" fxLayoutGap="16px" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start start">

    <div class="header" fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>
      <h1>Welcome to the Rights Management Portal (the "App"). </h1>

      <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>
        <h4>By accessing this App, you acknowledge and agree to be bound by the Disclaimer below. If you do not agree to the
          Disclaimer, please do not use the App. Your use of the App constitutes your agreement to the Disclaimer.</h4>
      </div>
      <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>
        <br>
        <h2 class="mt-1">Disclaimer:</h2>


        <div>
          <h4>This is an Alpha Release of the Rights Management Portal Application. We have done our best to ensure the accuracy
            of the functionality and data presented in the application. Any information presented by the application is offered
            with the assumption that you understand the application has limited functionality and may be erroneous.</h4>
          <h4>If you proceed with usage of the Alpha RMP Application, we would like to thank you for taking part in our testing.
            Your feedback will help us greatly improve the quality of the Rights Management Portal.</h4>
        </div>
      </div>

    </div>

    <!--<div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>
      2

    </div>

    <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>
      3

    </div>

    <div fxLayout="column" fxLayoutGap="16px" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start start">
      <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>
        4
      </div>
      <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>
        5
      </div>
      <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>
        6
      </div>
    </div>-->
  </div>