:host {
    display: block;
  
      .mat-dialog-container {
          padding: 0;
          width: 820px;
      }
  
      .dialog-content-wrapper {
          max-height: 15vh;
          display: flex;
          flex-direction: column;
      }
  }