<form name="smartForm" class="smart-form">
    <mat-form-field class="full-width">
        <input type="text" placeholder="Country of Origin" matInput [formControl]="smartControl" [matAutocomplete]="auto"
            matTooltip= {{toolTips.countries}} matTooltipShowDelay= {{toolTips.delay}}>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option #selectedCountry *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
