//.form-container {
    // display: flex;
    // flex-direction: column;
      
    mat-form-field {
        width: 100%;
    }

    .mat-table,
    .mat-paginator{
        background: transparent;
    }

    .mat-row{
        padding: 0;
    }

//}
