<div id="post" class="page-layout carded fullwidth">
  <div class="top-bg mat-deep-purple-bg"></div>
  <div class="center">

    <!--Header-->
    <div class="header white-fg p-24" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Wallet</h2>
      <div *ngIf="marketCap" class="text-right align-middle">

        <span [innerHtml]="marketCap.price_btc"></span>
        <span>BTC / Muse</span>
        <br />

        <span [innerHtml]="marketCap.price_usd"></span>
        <span>USD / Muse</span>
        <br />

        <span [innerHtml]="'Muse tokens worth about'"></span>
        <span [innerHtml]="(account.Musebalance * marketCap.price_usd) | currency:'USD':'symbol':'0.2-2'"></span>
        <span [innerHtml]="'USD'"></span>
      </div>
    </div>

    <!--Content-->
    <div class="content-card mat-white-bg mb-5">
      <mat-tab-group>

        <!--Balances-->
        <mat-tab label="Balances">
          <div class="container-fluid">

            <!--Muse Balance-->
            <div class="row my-1">
              <div class="col-12 my-2">
                <h3>Muse Balance:</h3>
                <span [innerHtml]="account.Musebalance"></span>
              </div>
              <div class="col-12 my-2">
                <button mat-raised-button class="mat-purple-bg" (click)="transferMuse()">
                  Transfer
                </button>
                <button mat-raised-button class="mat-purple-bg" (click)="vestMuse()">
                  Transfer to Vesting
                </button>
              </div>
              <div class="col-12 my-2">
                Tradeable tokens that may be transferred anywhere at anytime. MUSE can be vested by clicking transfer to Vesting.
              </div>
              <div class="col-12 my-1">
                <mat-divider></mat-divider>
              </div>
            </div>

            <!--Vesting Balance-->
            <div class="row my-1">
              <div class="col-12 my-2">
                <h3>Vests Balance:</h3>
                <span [innerHtml]="account.Vestbalance"></span>
              </div>
              <div class="col-12 my-2">
                <button mat-raised-button (click)="withdrawVest()" class="mat-purple-bg">
                  Withdraw
                </button>
                <button mat-raised-button (click)="cancelWithdraw()" class="mat-purple-bg">
                  Cancel Withdrawal
                </button>
              </div>
              <div class="col-12 my-2">
                Tokens that grant you more influence within the network.
              </div>
              <div class="col-12 my-1">
                <mat-divider></mat-divider>
              </div>
            </div>

            <!--Muse Dollar-->
            <div class="row my-1">
              <div class="col-12 mt-2">
                <h3>Muse Dollars Balance:</h3>
              </div>
              <div *ngIf="marketCap" class="col-12 my-2">
                <span [innerHtml]="'Tokens worth about'"></span>
                <span [innerHtml]="account.MBDbalance | currency:'USD':'symbol':'0.2-2'"></span>
                <span [innerHtml]="' of MUSE'"></span>
              </div>
              <div class="col-12 my-1">
                <mat-divider></mat-divider>
              </div>
            </div>

            <!--Next Withdrawal-->
            <div class="row my-1">
              <div class="col-12 my-2">
                <h3>Next Withdrawal:</h3>
                <span *ngIf="account.NextwithDraw && account.NextwithDraw.getDate() != defaultDate.getDate()" [innerHtml]="account.NextwithDraw | date:'MM/dd/yy hh:mm a z'"></span>
                <span *ngIf="account.NextwithDraw && account.NextwithDraw.getDate() == defaultDate.getDate()" [innerHtml]="'No pending Withdrawal'"></span>
              </div>
              <div class="col-12 my-1">
                <mat-divider></mat-divider>
              </div>
            </div>

            <!--History-->
            <div class="row my-1">
              <div class="col-12 mt-2">
                <h3>History</h3>
              </div>
              <div class="col-12">
                <mat-table #table [dataSource]="dataSource">

                  <!-- Position Column -->
                  <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                    <mat-cell *matCellDef="let history">
                      <span [innerHtml]="history.date | date:'MM/dd/yy hh:mm a z'"></span>
                    </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="transaction">
                    <mat-header-cell *matHeaderCellDef> Event </mat-header-cell>
                    <mat-cell *matCellDef="let history">

                      <!--Created Account-->
                      <ng-template [ngIf]="history.transaction.transactionType == 'account_create' && history.transaction.creator == muserName">
                        <span [innerHtml]="'Created Account ' + history.transaction.newAccountName"></span>
                      </ng-template>

                      <!--Account Creation-->
                      <ng-template [ngIf]="history.transaction.transactionType == 'account_create' && history.transaction.newAccountName == muserName">
                        <span [innerHtml]="'Account Creation'"></span>
                      </ng-template>

                      <!--Transfer - Received-->
                      <ng-template [ngIf]="history.transaction.transactionType == 'transfer' && history.transaction.to == muserName">
                        <span [innerHtml]="'Received ' + history.transaction.amount + ' MUSE from ' + history.transaction.from"></span>
                      </ng-template>

                      <!--Transfer - Sent-->
                      <ng-template [ngIf]="history.transaction.transactionType == 'transfer' && history.transaction.to != muserName">
                        <span [innerHtml]="'Sent ' + history.transaction.amount + ' MUSE to ' + history.transaction.to"></span>
                      </ng-template>

                      <!--Vesting - Transfer-->
                      <ng-template [ngIf]="history.transaction.transactionType == 'transfer_to_vesting' && history.transaction.to == muserName">
                        <span [innerHtml]="'Transferred ' + history.transaction.amount + '  MUSE to VEST'"></span>
                      </ng-template>

                      <!--Vesting - Sent-->
                      <ng-template [ngIf]="history.transaction.transactionType == 'transfer_to_vesting' && history.transaction.to != muserName">
                        <span [innerHtml]="'Sent ' + history.transaction.amount + ' VEST to ' + history.transaction.to"></span>
                      </ng-template>

                      <!--Vesting - Widthdraw-->
                      <ng-template [ngIf]="history.transaction.transactionType == 'withdraw_vesting'">
                        <span [innerHtml]="'Withdrawing ' + history.transaction.vestingShares + ' VEST'"></span>
                      </ng-template>

                      <!--Witness Voted-->
                      <ng-template [ngIf]="history.transaction.transactionType == 'account_witness_vote' && history.transaction.approve">
                        <span [innerHtml]="history.transaction.account + ' Voted Witness ' + history.transaction.witness"></span>
                      </ng-template>

                      <!--Witness UnVoted-->
                      <ng-template [ngIf]="history.transaction.transactionType == 'account_witness_vote' && !history.transaction.approve">
                        <span [innerHtml]="history.transaction.account + ' UnVoted Witness ' + history.transaction.witness"></span>
                      </ng-template>

                      <!--Witness Update-->
                      <ng-template [ngIf]="history.transaction.transactionType == 'witness_update'">
                        <span [innerHtml]="'Witness Update'"></span>
                      </ng-template>

                      <!--Account Update-->
                      <ng-template [ngIf]="history.transaction.transactionType == 'account_update'">
                        <span [innerHtml]="'Account Update'"></span>
                      </ng-template>

                      <!--Content-->
                      <ng-template [ngIf]="history.transaction.transactionType == 'content'">
                        <span [innerHtml]="'Content Listed: URL: ' + history.transaction.url + ' Uploader: ' + history.transaction.uploader"></span>
                      </ng-template>

                      <!--Fill Vesting Withdraw-->
                      <ng-template [ngIf]="history.transaction.transactionType == 'fill_vesting_withdraw'">
                        <span [innerHtml]="'Withdrawal of VESTS from ' + history.transaction.fromAccount + ' to ' + history.transaction.toAccount + ' of ' + history.transaction.deposited"></span>
                      </ng-template>

                      <!--Content-->
                      <ng-template [ngIf]="history.transaction.transactionType == 'custom_json'">
                        <span [innerHtml]="'Custom Json ' + history.id + ' ' + history.json + ' ' + history.transaction.requiredAuths + ' ' + history.transaction.requiredBasicAuths"></span>
                      </ng-template>

                    </mat-cell>
                  </ng-container>

                  <mat-row *matRowDef="let row; columns: displayedColumnsHistory;"></mat-row>

                </mat-table>

                <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
              </div>

            </div>

          </div>
        </mat-tab>

        <!--Password-->
        <mat-tab label="Password">
          <div class="container-fluid pb-2">

            <div class="row my-1">
              <div class="col-12 mt-2">
                <h3 [innerHtml]="'Reset '+ muserName +'\'s Password'"></h3>
              </div>
              <div class="col-12">
                <ul class="pl-0 list-unstyled">
                  <li>Do
                    <span class="font-weight-bold">not</span> lose your password.</li>
                  <li>We cannot recover your password.</li>
                  <li>If you can remember your password, It's not secure.</li>
                  <li>Use only randomly-generated passwords.</li>
                  <li>Do not tell anyone your password.</li>
                  <li>Always back up your password.</li>
                </ul>
              </div>
              <div class="col-12 my-1">
                <mat-divider></mat-divider>
              </div>
            </div>

            <div class="row my-1">

              <div class="col-12 my-2">
                <button mat-raised-button (click)="generatePassword()">
                  Generate Password
                </button>
              </div>

              <div *ngIf="generatedPassword" class="col-12 my-2">
                <small class="font-italic font-weight-bold" [innerHtml]="generatedPassword"></small>
              </div>

              <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">

                <div class="col-12 mb-2">
                  <mat-form-field>
                    <input matInput placeholder="Current Password" formControlName="password">
                    <mat-error *ngIf="passwordForm.controls.password.hasError('required')">
                      <strong>Password is required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-12 mb-2">
                  <mat-form-field>
                    <input matInput placeholder="Generated Password" formControlName="newPassword">
                    <mat-error *ngIf="!generatedPasswordMatch()">
                      <strong>Generated password must match</strong>
                    </mat-error>
                    <mat-error *ngIf="passwordForm.controls.newPassword.hasError('required')">
                      <strong>Generated Password is required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-12 mt-2">
                  <mat-checkbox formControlName="understand" required>
                    I UNDERSTAND THIS WALLET HOSTER CANNOT RECOVER LOST PASSWORDS
                  </mat-checkbox>
                </div>

                <div class="col-12 mb-2">
                  <mat-checkbox formControlName="saved" required>
                    I HAVE SECURELY SAVED MY GENERATED PASSWORD
                  </mat-checkbox>
                </div>

                <div class="col-12 my-2">
                  <button mat-raised-button class="mat-purple-bg" [disabled]="!passwordForm.valid">
                    Update Password
                  </button>
                </div>
              </form>
            </div>

          </div>
        </mat-tab>

        <!--Permissions-->
        <mat-tab label="Permissions">
          <div class="container-fluid pb-2">

            <div class="row my-1">
              <div class="col-12 mt-2">
                <h3 class="mb-1">Basic</h3>
              </div>
              <div class="col-12 mb-2">
                <small *ngIf="!showPrivateBasic" class="font-weight-bold font-italic" [innerHtml]="account.keys.basicPubkey"></small>
                <small *ngIf="showPrivateBasic" class="font-weight-bold font-italic" [innerHtml]="account.keys.basic"></small>
              </div>
              <div class="col-12 mb-2">
                <button mat-raised-button class="mat-purple-bg" (click)="togglePrivatekeys('basic')">
                  <span *ngIf="showPrivateBasic">Show Public</span>
                  <span *ngIf="!showPrivateBasic">Show Private</span>
                </button>
              </div>
              <div class="col-12 my-2">
                The basic key is used for non-financial functions such as voting, connection with other users and approving/declining proposed
                modifications to your data. It should be different from the active and owner keys.
              </div>
              <div class="col-12 my-1">
                <mat-divider></mat-divider>
              </div>
            </div>

            <div class="row my-1">
              <div class="col-12 mt-2">
                <h3 class="mb-1">Active</h3>
              </div>
              <div class="col-12 mb-2">
                <small *ngIf="!showPrivateActive" class="font-weight-bold font-italic" [innerHtml]="account.keys.activePubkey"></small>
                <small *ngIf="showPrivateActive" class="font-weight-bold font-italic" [innerHtml]="account.keys.active"></small>
              </div>
              <div class="col-12 mb-2">
                <button mat-raised-button class="mat-purple-bg" (click)="togglePrivatekeys('active')">
                  <span *ngIf="showPrivateActive">Show Public</span>
                  <span *ngIf="!showPrivateActive">Show Private</span>
                </button>
              </div>
              <div class="col-12 my-2">
                The active key is used for financial transactions and the creation of (or updates to) your data. It should be used from a
                secure workstation.
              </div>
              <div class="col-12 my-1">
                <mat-divider></mat-divider>
              </div>
            </div>

            <div class="row my-1">
              <div class="col-12 mt-2">
                <h3 class="mb-1">Owner</h3>
              </div>
              <div class="col-12 mb-2">
                <small *ngIf="!showPrivateOwner" class="font-weight-bold font-italic" [innerHtml]="account.keys.ownerPubkey"></small>
                <small *ngIf="showPrivateOwner" class="font-weight-bold font-italic" [innerHtml]="account.keys.owner"></small>
              </div>
              <div class="col-12 mb-2">
                <button mat-raised-button class="mat-purple-bg" (click)="togglePrivatekeys('owner')">
                  <span *ngIf="showPrivateOwner">Show Public</span>
                  <span *ngIf="!showPrivateOwner">Show Private</span>
                </button>
              </div>
              <div class="col-12 my-2">
                The owner key is the master key for the account and is required to change the other keys. The private key or password for
                the owner key should be kept offline as much as possible.
              </div>
              <div class="col-12 my-1">
                <mat-divider></mat-divider>
              </div>
            </div>

            <div class="row my-1">
              <div class="col-12 mt-2">
                <h3 class="mb-1">Memo</h3>
              </div>
              <div class="col-12 mb-2">
                <small *ngIf="!showPrivateMemo" class="font-weight-bold font-italic" [innerHtml]="account.keys.memoPubkey"></small>
                <small *ngIf="showPrivateMemo" class="font-weight-bold font-italic" [innerHtml]="account.keys.memo"></small>
              </div>
              <div class="col-12 mb-2">
                <button mat-raised-button class="mat-purple-bg" (click)="togglePrivatekeys('memo')">
                  <span *ngIf="showPrivateMemo">Show Public</span>
                  <span *ngIf="!showPrivateMemo">Show Private</span>
                </button>
              </div>
              <div class="col-12 my-2">
                <span>The memo key is used to create and read memos.</span>
              </div>
            </div>

          </div>
        </mat-tab>

        <!--Witness & Voting-->
        <mat-tab label="Witness-Voting">
          <div class="container-fluid pb-2">

            <div class="row my-1">

              <div class="col-12 mt-2">
                <h3>Witness Voting</h3>
              </div>

              <!--Votes Amount-->
              <div class="col-12 my-2">
                <p>
                  <span>As a MUSE holder you get</span>
                  <span class="font-weight-bold">30</span>
                  <span>witness votes, use them wisely.</span>
                  <br />

                  <span>You have</span>
                  <span class="font-weight-bold" [innerHtml]="30 - account.witnessVotes.length"></span>
                  <span>witness votes left.</span>
                </p>
              </div>

              <!--Input Voting-->
              <div class="col-12 mb-2">
                <div class="row">
                  <div class="col-12">
                    <p>
                      If you whould like to vote for a witness outside of the top 50, enter the account name below to cast a vote.
                    </p>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <mat-form-field>
                      <input matInput placeholder="Witness Name" [(ngModel)]="inputWitness">
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-8">
                    <button mat-raised-button class="mat-purple-bg" (click)="voteWitness(inputWitness, account.witnessVotes.indexOf(inputWitness) <= -1)" [disabled]="!inputWitness">Vote</button>
                  </div>
                </div>
              </div>

              <!--Witnesses-->
              <div class="col-12 mb-2">
                <mat-table #witnessTable [dataSource]="dataSourceWitness">

                  <ng-container matColumnDef="owner">
                    <th mat-header-cell *matHeaderCellDef>Witness</th>
                    <mat-cell *matCellDef="let witness; let i=index">
                      <span class="mr-3" [innerHtml]="i +1"></span>
                      <button *ngIf="account.witnessVotes.indexOf(witness.owner) <= -1" mat-button class="mr-3 border purple-border" (click)="voteWitness(witness.owner, true)">
                        <mat-icon class="purple-fg" aria-label="thumb_up">thumb_up</mat-icon>
                      </button>
                      <button *ngIf="account.witnessVotes.indexOf(witness.owner) > -1" mat-button class="mr-3 mat-purple-bg" (click)="voteWitness(witness.owner, false)">
                        <mat-icon class="mat-icon white-fg" aria-label="thumb_up">thumb_up</mat-icon>
                      </button>
                      <span [innerHtml]="witness.owner"></span>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="block">
                    <th mat-header-cell *matHeaderCellDef>Last Minted Block</th>
                    <mat-cell *matCellDef="let witness">
                      <span [innerHtml]="witness.last_confirmed_block_num"></span>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="url">
                    <th mat-header-cell *matHeaderCellDef>Information</th>
                    <mat-cell *matCellDef="let witness">
                      <a [href]="witness.url" target="_blank" [innerHtml]="witness.url"></a>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumnsWitness"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsWitness;"></mat-row>
                </mat-table>
                <mat-paginator #paginatorWitness [pageSize]="50" [pageSizeOptions]="[50, 100, 200]" [showFirstLastButtons]="true"></mat-paginator>
              </div>
            </div>

          </div>
        </mat-tab>

        <!--Claim of Stake-->
        <mat-tab label="Claim of Stake">
          <div class="container-fluid pb-2">

            <div class="row my-1">
              <div class="col-12 mt-2">
                <h3>Claim of Stake</h3>
              </div>
              <div class="col-12">
                <p>Enter the Owner Private Key / WIF of your old Muse account and/or enter the Private Key of the Bitcoin address
                  from which you participated in the pre-sale</p>
              </div>
              <div class="col-12 mb-2">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <mat-form-field>
                      <input matInput placeholder="WIF" [(ngModel)]="inputWIF">
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-8">
                    <button mat-raised-button class="mat-purple-bg" (click)="claimWIF()" [disabled]="!inputWIF">Claim</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </mat-tab>

      </mat-tab-group>
    </div>

  </div>
</div>