<mat-toolbar color="primary">
  <span>Wallet</span>
</mat-toolbar>

<div class="container-fluid">
  <div class="row">
    <div class="col">

      <mat-tab-group>

        <!--Balances-->
        <mat-tab label="Balances">

          <!--Muse Balance-->
          <div class="row my-1">
            <div class="col-12 my-2">
              <h3>Muse Balance:</h3>
              <span [innerHtml]="account.Musebalance"></span>
            </div>
            <div class="col-12 my-2">
              <button mat-raised-button class="mat-purple-bg mt-16 mt-sm-0" (click)="transferMuseBtn()">
                Transfer
              </button>
              <button mat-raised-button class="mat-purple-bg mt-16 mt-sm-0" (click)="vestMuseBtn()">
                Transfer to Vesting
              </button>
            </div>
            <div class="col-12 my-2">
              Tradeable tokens that may be transferred anywhere at anytime. MUSE can be vested by clicking transfer to Vesting.
            </div>
            <div class="col-12 my-1">
              <mat-divider></mat-divider>
            </div>
          </div>

          <!--Vesting Balance-->
          <div class="row my-1">
            <div class="col-12 my-2">
              <h3>Vests Balance:</h3>
              <span [innerHtml]="account.Vestbalance"></span>
            </div>
            <div class="col-12 my-2">
              <button mat-raised-button (click)="withdrawVestBtn()" class="mat-purple-bg mt-16 mt-sm-0">
                Withdraw
              </button>
              <button mat-raised-button (click)="cancelWithdrawBtn()" class="mat-purple-bg mt-16 mt-sm-0">
                Cancel Withdrawal
              </button>
            </div>
            <div class="col-12 my-2">
              Tokens that grant you more influence within the network.
            </div>
            <div class="col-12 my-1">
              <mat-divider></mat-divider>
            </div>
          </div>

          <!--FIAT Balance-->
          <div class="row my-1">
            <div class="col-12 my-1">
              <h3>Muse Backed Dollars Balance:</h3>
              <span [innerHtml]="account.MBDbalance"></span>
            </div>
            <div class="col-12 my-1">
              Tokens worth about $1.00 of MUSE
            </div>
            <div class="col-12 my-1">
              <mat-divider></mat-divider>
            </div>
          </div>

          <!--Next Withdrawal-->
          <div class="row my-1">
            <div class="col-12 my-2">
              <h3>Next Withdrawal:</h3>
              <span [innerHtml]="account.NextwithDraw | date:'short'"></span>
            </div>
            <div class="col-12 my-1">
              <mat-divider></mat-divider>
            </div>
          </div>

          <!--History-->
          <div class="row my-1">
            <div class="col-12 my-2">
              <h3>History</h3>
            </div>
            <div class="col-12">
              <table class="table table-striped">
                <tbody>
                  <tr *ngFor="let h of account?.history">
                    <td class="py-2" [innerHtml]="h.date | date:'short'"></td>

                    <!--Created Account-->
                    <ng-template [ngIf]="h.transaction.transactionType == 'account_create' && h.transaction.creator == muserName">
                      <td class="py-2" [innerHtml]="'Created Account ' + h.newAccountName"></td>
                    </ng-template>

                    <!--Account Creation-->
                    <ng-template [ngIf]="h.transaction.transactionType == 'account_create' && h.transaction.newAccountName == muserName">
                      <td class="py-2" [innerHtml]="'Account Creation'"></td>
                    </ng-template>

                    <!--Transfer - Received-->
                    <ng-template [ngIf]="h.transaction.transactionType == 'transfer' && h.transaction.to == muserName">
                      <td class="py-2" [innerHtml]="'Received ' + h.transaction.amount + ' MUSE from ' + h.transaction.from"></td>
                    </ng-template>

                    <!--Transfer - Sent-->
                    <ng-template [ngIf]="h.transaction.transactionType == 'transfer' && h.transaction.to != muserName">
                      <td class="py-2" [innerHtml]="'Sent ' + h.transaction.amount + ' MUSE to ' + h.transaction.to"></td>
                    </ng-template>

                    <!--Vesting - Transfer-->
                    <ng-template [ngIf]="h.transaction.transactionType == 'transfer_to_vesting' && h.transaction.to == muserName">
                      <td class="py-2" [innerHtml]="'Transferred ' + h.transaction.amount + '  MUSE to VEST'"></td>
                    </ng-template>

                    <!--Vesting - Sent-->
                    <ng-template [ngIf]="h.transaction.transactionType == 'transfer_to_vesting' && h.transaction.to != muserName">
                      <td class="py-2" [innerHtml]="'Sent ' + h.transaction.amount + ' VEST to ' + h.transaction.to"></td>
                    </ng-template>

                    <!--Vesting - Widthdraw-->
                    <ng-template [ngIf]="h.transaction.transactionType == 'withdraw_vesting'">
                      <td class="py-2" [innerHtml]="'Withdrawing ' + h.transaction.vestingShares + ' VEST'"></td>
                    </ng-template>

                    <!--Witness Voted-->
                    <ng-template [ngIf]="h.transaction.transactionType == 'account_witness_vote' && h.transaction.approve">
                      <td class="py-2" [innerHtml]="h.transaction.account + ' Voted Witness ' + h.transaction.witness"></td>
                    </ng-template>

                    <!--Witness UnVoted-->
                    <ng-template [ngIf]="h.transaction.transactionType == 'account_witness_vote' && !h.transaction.approve">
                      <td class="py-2" [innerHtml]="h.transaction.account + ' UnVoted Witness ' + h.transaction.witness"></td>
                    </ng-template>

                    <!--Witness Update-->
                    <ng-template [ngIf]="h.transaction.transactionType == 'witness_update'">
                      <td class="py-2" [innerHtml]="'Witness Update'"></td>
                    </ng-template>

                    <!--Account Update-->
                    <ng-template [ngIf]="h.transaction.transactionType == 'account_update'">
                      <td class="py-2" [innerHtml]="'Account Update'"></td>
                    </ng-template>

                    <!--Content-->
                    <ng-template [ngIf]="h.transaction.transactionType == 'content'">
                      <td class="py-2" [innerHtml]="'Content Listed: URL: ' + h.url + ' Uploader: ' + h.uploader"></td>
                    </ng-template>

                    <!--Fill Vesting Withdraw-->
                    <ng-template [ngIf]="h.transaction.transactionType == 'fill_vesting_withdraw'">
                      <td class="py-2" [innerHtml]="'ithdrawal of VESTS from: ' + h.fromAccount + ' to: ' + h.toAccount + ' of ' + h.deposited"></td>
                    </ng-template>

                    <!--Content-->
                    <ng-template [ngIf]="h.transaction.transactionType == 'custom_json'">
                      <td class="py-2" [innerHtml]="'Custom Json ' +h.id + ' ' + h.json + ' ' + h.requiredAuths + ' ' + h.required_basic_auths"></td>
                    </ng-template>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </mat-tab>

        <!--Password-->
        <mat-tab label="Password">

          <div class="row my-1">
            <div class="col-12 my-2">
              <h3 [innerHtml]="'Reset '+ muserName +'\'s Password'"></h3>
            </div>
            <div class="col-12 mb-2">
              <ul class="pl-0 list-unstyled">
                <li>Do
                  <span class="font-weight-bold">not</span> lose your password.</li>
                <li>We cannot recover your password.</li>
                <li>If you can remember your password, It's not secure.</li>
                <li>Use only randomly-generated passwords.</li>
                <li>Do not tell anyone your password.</li>
                <li>Always back up your password.</li>
              </ul>
            </div>
            <div class="col-12 my-1">
              <mat-divider></mat-divider>
            </div>
          </div>

          <div class="row my-1">
            <div class="col-12 my-2">
              <mat-form-field>
                <input matInput [(ngModel)]="CurrentPass" placeholder="Current Password">
              </mat-form-field>
            </div>
            <div class="col-12 my-2">
              <mat-form-field>
                <input matInput [(ngModel)]="NewPass" placeholder="New Password">
              </mat-form-field>
            </div>
            <div class="col-12 my-2">
              <mat-form-field>
                <input matInput [(ngModel)]="Confirm" placeholder="Confirm Password">
              </mat-form-field>
              <div class="row">
                <div class="col-12">
                  <mat-checkbox>
                    I UNDERSTAND THIS WALLET HOSTER CANNOT RECOVER LOST PASSWORDS
                  </mat-checkbox>
                </div>
                <div class="col-12">
                  <mat-checkbox>
                    I HAVE SECURELY SAVED MY GENERATED PASSWORD
                  </mat-checkbox>
                </div>
              </div>
            </div>

          </div>

        </mat-tab>

        <!--Permissions-->
        <mat-tab label="Permissions">

          <div class="row my-1">
            <div class="col-12 my-2">
              <h3>Basic</h3>
              <small class="font-weight-bold font-italic" [innerHtml]="account.BasicKey"></small>
            </div>
            <div class="col-12 my-2">
              The basic key is used for non-financial functions such as voting, connection with other users and approving/declining proposed
              modifications to your data. It should be different from the active and owner keys.
            </div>
            <div class="col-12 my-1">
              <mat-divider></mat-divider>
            </div>
          </div>

          <div class="row my-1">
            <div class="col-12 my-2">
              <h3>Active</h3>
              <small class="font-weight-bold font-italic" [innerHtml]="account.ActiveKey"></small>
            </div>
            <div class="col-12 my-2">
              The active key is used for financial transactions and the creation of (or updates to) your data. It should be used from a
              secure workstation.
            </div>
            <div class="col-12 my-1">
              <mat-divider></mat-divider>
            </div>
          </div>

          <div class="row my-1">
            <div class="col-12 my-2">
              <h3>Owner</h3>
              <small class="font-weight-bold font-italic" [innerHtml]="account.OwnerKey"></small>
            </div>
            <div class="col-12 my-2">
              The owner key is the master key for the account and is required to change the other keys. The private key or password for
              the owner key should be kept offline as much as possible.
            </div>
            <div class="col-12 my-1">
              <mat-divider></mat-divider>
            </div>
          </div>

          <div class="row my-1">
            <div class="col-12 my-2">
              <h3>Memo</h3>
              <small class="font-weight-bold font-italic" [innerHtml]="account.MemoKey"></small>
            </div>
            <div class="col-12 my-2">
              The memo key is used to create and read memos.
            </div>
            <div class="col-12 my-1">
              <mat-divider></mat-divider>
            </div>
          </div>

        </mat-tab>

        <!--Witness & Voting-->
        <mat-tab label="Witness-Voting">

          <div class="row my-1">
            <div class="col-12 my-2">
              <p>As a MUSE holder you get 30 witness votes, use them wisely. You have 19 witness votes left.</p>
              <p>If you whould like to vote for a witness outside of the top 50, enter the account name below to cast a vote.</p>
            </div>
            <div class="col-12 my-2">
              <ul class="pl-4">
                <li *ngFor="let witness of WitnessListArray">
                  <span [innerHtml]="witness.owner"></span>
                  <span [innerHtml]="witness.last_confirmed_block_num"></span>
                  <span [innerHtml]="witness.url"></span>
                </li>
              </ul>
            </div>
          </div>

        </mat-tab>

      </mat-tab-group>

    </div>
  </div>
</div>