// #wallet {
    
    // .content {

    //     .mat-tab-group,
    //     .mat-tab-body-wrapper,
    //     .tab-content{
    //         flex: 1 1 auto;
    //         max-width: 100%;
    //     }

    //     .mat-tab-body-content {
    //         display: flex;
    //     }

    //     .mat-tab-label {
    //         height: 64px;
    //     }
    // }




:host {
  display: block;
}

.dashboard {
    padding: 16px;
    }

.toolbar {

}

.calendar-header {
  width: 100%;

  button {
    margin-left: 8px;
  }
}

.calendar {
  background: white;
}


// }